* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
}
.listt{
        width:100%;
        height:pxTorem(100px);
       
    } 
 .listt h2{
            width:100%;
            height:30px;
            text-align:center;
            line-height:30px;
            background:#f1f2f6;
}
.lists{
      width:100%;
     height:auto;
     display:flex;
     flex-wrap:wrap;
}
.lists dl{
     width:49%;
     height:240px; 
     border:1px solid #ccc;
}
.lists dl dt{
        display:flex;
        justify-content:center;
        align-content:center;
        margin-top:10px;
}
.lists dl dt img{
     width:50%;
     height:160px;
}
.lit{
     display:flex;   
     margin-top:6px;
}
.lit span{
         display:block;
         width:40px;
         height:20px;
         text-align:center;
         line-height:20px;
         border:1px solid #ccc; 
         margin-left:5px;
}
.lit h6{
    margin-left:5px;
    font-size:14px;
}
.left{
               display:flex;
               justify-content:space-between;
               margin-top:6px;
}
.left h4{
         color:red;
         font-size:14px;
}
.left h4 b{
    color:#000;
    text-decoration:line-through;
    font-size:10px;
    margin-left:5px;
}
.left h5{
     margin-right:10px;
}
.foo{
    display:flex;
    justify-content:space-between;
}
.foo span{
    margin-right:10px;
    font-size:14px;
}
footer {
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    width: 100%;
    height: 44px;
    -webkit-align-items: center;
    align-items: center;
    border-top: 2px solid #ccc;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

footer dl {
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

footer dl dt.iconfont {
    font-size: 13px;
}

footer .act {
    color: red;
}